In [7]:
import pandas as pd

df = pd.read_csv('./data/ad_placement/census-income.csv')
                 
df.columns = ['AAGE','ACLSWKR','ADTIND','ADTOCC','AHGA','AHRSPAY','AHSCOL','AMARITL',
                                                                              'AMJIND','AMJOCC','ARACE','AREORGN','ASEX','AUNMEM','AUNTYPE','AWKSTAT','CAPGAIN',
                                                                              'CAPLOSS','DIVVAL','FILESTAT','GRINREG','GRINST','HHDFMX','HHDREL', 'MARSUPWT',
                                                                              'MIGMTR1','MIGMTR3','MIGMTR4','MIGSAME','MIGSUN','NOEMP','PARENT','PEFNTVTY',
                                                                              'PEMNTVTY','PENATVTY','PRCITSHP','SEOTR','VETQVA','VETYN','WKSWORK', 'YEAR', 'INCOME']

In [7]:
df.to_excel('testing.xlsx')

In [2]:
df

,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,...,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,VETQVA,VETYN,WKSWORK,YEAR,INCOME
0,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
1,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.
2,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
3,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
4,48,Private,40,10,Some college but no degree,1200,Not in universe,Married-civilian spouse present,Entertainment,Professional specialty,...,Philippines,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,95,- 50000.
5,42,Private,34,3,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
6,28,Private,4,40,High school graduate,0,Not in universe,Never married,Construction,Handlers equip cleaners etc,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,30,95,- 50000.
7,47,Local government,43,26,Some college but no degree,876,Not in universe,Married-civilian spouse present,Education,Adm support including clerical,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.
8,34,Private,4,37,Some college but no degree,0,Not in universe,Married-civilian spouse present,Construction,Machine operators assmblrs & inspctrs,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
9,8,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
10,32,Not in universe,0,0,High school graduate,0,Not in universe,Never married,Not in universe or children,Not in universe,...,?,?,?,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.
11,51,Private,4,34,Some college but no degree,0,Not in universe,Married-civilian spouse present,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
12,46,Private,37,31,High school graduate,0,Not in universe,Divorced,Business and repair services,Other service,...,Columbia,Columbia,Columbia,Foreign born- Not a citizen of U S,0,Not in universe,2,52,94,- 50000.
13,26,Private,24,12,Bachelors degree(BA AB BS),0,Not in universe,Never married,Manufacturing-nondurable goods,Professional specialty,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.
14,13,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
15,47,Private,39,36,Bachelors degree(BA AB BS),0,Not in universe,Never married,Personal services except private HH,Machine operators assmblrs & inspctrs,...,Germany,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.
16,39,Not in universe,0,0,10th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,0,Not in universe,2,0,94,- 50000.
17,16,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,United-States,El-Salvador,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
18,35,Private,12,41,High school graduate,0,Not in universe,Married-civilian spouse present,Manufacturing-durable goods,Handlers equip cleaners etc,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,49,95,- 50000.
19,12,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
20,27,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Married-civilian spouse present,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,1,Not in universe,2,52,94,- 50000.
21,56,Private,35,22,Some college but no degree,500,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Adm support including clerical,...,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,32,95,- 50000.
22,46,Private,45,12,Masters degree(MA MS MEng MEd MSW MBA),0,Not in universe,Married-civilian spouse present,Other professional services,Professional specialty,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
23,55,Not in universe,0,0,Some college but no degree,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Japan,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,94,- 50000.
24,2,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
25,1,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,?,?,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
26,37,Private,3,34,Some college but no degree,0,Not in universe,Married-civilian spouse present,Mining,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.
27,4,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,- 50000.
28,37,Private,4,2,Bachelors degree(BA AB BS),0,Not in universe,Never married,Construction,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
29,63,Private,19,35,Less than 1st grade,0,Not in universe,Married-civilian spouse present,Manufacturing-nondurable goods,Precision production craft & repair,...,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,0,Not in universe,2,15,95,- 50000.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199492,13,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
199493,5,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
199494,44,Self-employed-not incorporated,38,2,Some college but no degree,0,Not in universe,Married-civilian spouse present,Business and repair services,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,50,94,- 50000.
199495,1,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
199496,40,Self-employed-not incorporated,35,17,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Sales,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,50,95,- 50000.
199497,50,Private,42,26,High school graduate,0,Not in universe,Married-civilian spouse present,Medical except hospital,Adm support including clerical,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
199498,59,Private,24,2,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Manufacturing-nondurable goods,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,50000+.
199499,74,State government,44,42,7th and 8th grade,0,Not in universe,Widowed,Social services,Handlers equip cleaners etc,...,?,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
199500,13,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
199501,50,Federal government,29,2,Some college but no degree,0,Not in universe,Married-civilian spouse present,Transportation,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,48,95,- 50000.
199502,24,Private,33,29,11th grade,0,Not in universe,Never married,Retail trade,Other service,...,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,95,- 50000.
199503,43,Private,22,36,High school graduate,0,Not in universe,Married-civilian spouse present,Manufacturing-nondurable goods,Machine operators assmblrs & inspctrs,...,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,0,Not in universe,2,52,95,- 50000.
199504,33,Private,34,3,High school graduate,0,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.
199505,14,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
199506,25,Self-employed-incorporated,33,16,Some college but no degree,0,Not in universe,Never married,Retail trade,Sales,...,?,?,?,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,94,- 50000.
199507,62,Private,4,2,Some college but no degree,0,Not in universe,Married-spouse absent,Construction,Executive admin and managerial,...,Greece,United-States,United-States,Native- Born in the United States,2,Yes,1,52,95,50000+.
199508,47,Local government,43,12,Doctorate degree(PhD EdD),0,Not in universe,Married-civilian spouse present,Education,Professional specialty,...,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,94,50000+.
199509,25,Private,33,41,Some college but no degree,0,Not in universe,Never married,Retail trade,Handlers equip cleaners etc,...,United-States,Germany,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
199510,47,Private,23,37,Some college but no degree,0,Not in universe,Married-civilian spouse present,Manufacturing-nondurable goods,Machine operators assmblrs & inspctrs,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.
199511,71,Not in universe,0,0,High school graduate,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
199512,57,Private,9,37,9th grade,0,Not in universe,Divorced,Manufacturing-durable goods,Machine operators assmblrs & inspctrs,...,Dominican-Republic,Dominican-Republic,Dominican-Republic,Foreign born- Not a citizen of U S,0,Not in universe,2,52,95,- 50000.
199513,51,Private,33,19,10th grade,0,Not in universe,Widowed,Retail trade,Sales,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
199514,87,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,?,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
199515,3,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
199516,39,Private,43,26,Bachelors degree(BA AB BS),0,Not in universe,Never married,Education,Adm support including clerical,...,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,2,Not in universe,2,52,95,- 50000.
199517,87,Not in universe,0,0,7th and 8th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Canada,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
199518,65,Self-employed-incorporated,37,2,11th grade,0,Not in universe,Married-civilian spouse present,Business and repair services,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
199519,47,Not in universe,0,0,Some college but no degree,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Poland,Poland,Germany,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,95,- 50000.
199520,16,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
199521,32,Private,42,30,High school graduate,0,Not in universe,Never married,Medical except hospital,Other service,...,?,?,?,Foreign born- Not a citizen of U S,0,Not in universe,2,52,94,- 50000.

In [8]:
df.AHGA.value_counts()
len(df)

199522

In [8]:
df[['AAGE','ACLSWKR','ADTIND','ADTOCC','AHGA','AHRSPAY','AMARITL','ARACE','ASEX','AUNTYPE','AWKSTAT','CAPGAIN',
          'CAPLOSS','DIVVAL','FILESTAT','HHDREL','MIGMTR1','NOEMP','PARENT','SEOTR','VETYN','WKSWORK', 'YEAR', 'INCOME']]

,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AMARITL,ARACE,ASEX,AUNTYPE,...,FILESTAT,HHDREL,MIGMTR1,NOEMP,PARENT,SEOTR,VETYN,WKSWORK,YEAR,INCOME
0,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Divorced,White,Male,Not in universe,...,Head of household,Householder,MSA to MSA,1,Not in universe,0,2,52,94,- 50000.
1,18,Not in universe,0,0,10th grade,0,Never married,Asian or Pacific Islander,Female,Not in universe,...,Nonfiler,Child 18 or older,?,0,Not in universe,0,2,0,95,- 50000.
2,9,Not in universe,0,0,Children,0,Never married,White,Female,Not in universe,...,Nonfiler,Child under 18 never married,Nonmover,0,Both parents present,0,0,0,94,- 50000.
3,10,Not in universe,0,0,Children,0,Never married,White,Female,Not in universe,...,Nonfiler,Child under 18 never married,Nonmover,0,Both parents present,0,0,0,94,- 50000.
4,48,Private,40,10,Some college but no degree,1200,Married-civilian spouse present,Amer Indian Aleut or Eskimo,Female,Not in universe,...,Joint both under 65,Spouse of householder,?,1,Not in universe,2,2,52,95,- 50000.
5,42,Private,34,3,Bachelors degree(BA AB BS),0,Married-civilian spouse present,White,Male,Not in universe,...,Joint both under 65,Householder,Nonmover,6,Not in universe,0,2,52,94,- 50000.
6,28,Private,4,40,High school graduate,0,Never married,White,Female,Job loser - on layoff,...,Single,Nonrelative of householder,?,4,Not in universe,0,2,30,95,- 50000.
7,47,Local government,43,26,Some college but no degree,876,Married-civilian spouse present,White,Female,Not in universe,...,Joint both under 65,Spouse of householder,?,5,Not in universe,0,2,52,95,- 50000.
8,34,Private,4,37,Some college but no degree,0,Married-civilian spouse present,White,Male,Not in universe,...,Joint both under 65,Householder,Nonmover,6,Not in universe,0,2,52,94,- 50000.
9,8,Not in universe,0,0,Children,0,Never married,White,Female,Not in universe,...,Nonfiler,Child under 18 never married,Nonmover,0,Both parents present,0,0,0,94,- 50000.
10,32,Not in universe,0,0,High school graduate,0,Never married,Black,Female,Not in universe,...,Nonfiler,Other relative of householder,?,0,Not in universe,0,2,0,95,- 50000.
11,51,Private,4,34,Some college but no degree,0,Married-civilian spouse present,White,Male,Not in universe,...,Joint both under 65,Householder,Nonmover,3,Not in universe,0,2,52,94,- 50000.
12,46,Private,37,31,High school graduate,0,Divorced,White,Female,Not in universe,...,Single,Householder,Nonmover,6,Not in universe,0,2,52,94,- 50000.
13,26,Private,24,12,Bachelors degree(BA AB BS),0,Never married,White,Female,Not in universe,...,Single,Householder,?,6,Not in universe,0,2,52,95,- 50000.
14,13,Not in universe,0,0,Children,0,Never married,Black,Female,Not in universe,...,Nonfiler,Child under 18 never married,Nonmover,0,Both parents present,0,0,0,94,- 50000.
15,47,Private,39,36,Bachelors degree(BA AB BS),0,Never married,White,Female,Not in universe,...,Single,Householder,?,6,Not in universe,0,2,52,95,- 50000.
16,39,Not in universe,0,0,10th grade,0,Married-civilian spouse present,White,Female,Not in universe,...,Joint both under 65,Spouse of householder,Nonmover,0,Not in universe,0,2,0,94,- 50000.
17,16,Not in universe,0,0,10th grade,0,Never married,White,Female,Not in universe,...,Nonfiler,Child under 18 never married,?,0,Both parents present,0,2,0,95,- 50000.
18,35,Private,12,41,High school graduate,0,Married-civilian spouse present,White,Male,Not in universe,...,Joint both under 65,Householder,?,4,Not in universe,0,2,49,95,- 50000.
19,12,Not in universe,0,0,Children,0,Never married,Other,Male,Not in universe,...,Nonfiler,Child under 18 never married,MSA to MSA,0,Both parents present,0,0,0,94,- 50000.
20,27,Self-employed-not incorporated,4,34,Some college but no degree,0,Married-civilian spouse present,White,Male,Not in universe,...,Joint both under 65,Householder,Nonmover,6,Not in universe,1,2,52,94,- 50000.
21,56,Private,35,22,Some college but no degree,500,Married-civilian spouse present,White,Female,Not in universe,...,Joint both under 65,Spouse of householder,?,2,Not in universe,2,2,32,95,- 50000.
22,46,Private,45,12,Masters degree(MA MS MEng MEd MSW MBA),0,Married-civilian spouse present,White,Male,Not in universe,...,Joint both under 65,Householder,Nonmover,1,Not in universe,0,2,52,94,- 50000.
23,55,Not in universe,0,0,Some college but no degree,0,Married-civilian spouse present,Asian or Pacific Islander,Female,Not in universe,...,Joint both under 65,Householder,Nonmover,0,Not in universe,0,2,0,94,- 50000.
24,2,Not in universe,0,0,Children,0,Never married,White,Male,Not in universe,...,Nonfiler,Child under 18 never married,Nonmover,0,Both parents present,0,0,0,94,- 50000.
25,1,Not in universe,0,0,Children,0,Never married,Other,Female,Not in universe,...,Nonfiler,Child under 18 never married,MSA to MSA,0,Mother only present,0,0,0,94,- 50000.
26,37,Private,3,34,Some college but no degree,0,Married-civilian spouse present,White,Male,Not in universe,...,Joint both under 65,Spouse of householder,?,3,Not in universe,0,2,52,95,- 50000.
27,4,Not in universe,0,0,Children,0,Never married,White,Female,Not in universe,...,Nonfiler,Child under 18 never married,?,0,Both parents present,0,0,0,95,- 50000.
28,37,Private,4,2,Bachelors degree(BA AB BS),0,Never married,White,Male,Not in universe,...,Single,Nonrelative of householder,Nonmover,6,Not in universe,0,2,52,94,- 50000.
29,63,Private,19,35,Less than 1st grade,0,Married-civilian spouse present,Other,Male,Job loser - on layoff,...,Joint both under 65,Householder,?,6,Not in universe,0,2,15,95,- 50000.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199492,13,Not in universe,0,0,Children,0,Never married,White,Female,Not in universe,...,Nonfiler,Child under 18 never married,Nonmover,0,Both parents present,0,0,0,94,- 50000.
199493,5,Not in universe,0,0,Children,0,Never married,White,Male,Not in universe,...,Nonfiler,Child under 18 never married,Nonmover,0,Both parents present,0,0,0,94,- 50000.
199494,44,Self-employed-not incorporated,38,2,Some college but no degree,0,Married-civilian spouse present,White,Male,Not in universe,...,Joint both under 65,Householder,Nonmover,1,Not in universe,0,2,50,94,- 50000.
199495,1,Not in universe,0,0,Children,0,Never married,White,Male,Not in universe,...,Nonfiler,Child under 18 never married,Nonmover,0,Both parents present,0,0,0,94,- 50000.
199496,40,Self-employed-not incorporated,35,17,Bachelors degree(BA AB BS),0,Married-civilian spouse present,White,Female,Not in universe,...,Joint both under 65,Spouse of householder,?,1,Not in universe,0,2,50,95,- 50000.
199497,50,Private,42,26,High school graduate,0,Married-civilian spouse present,White,Female,Not in universe,...,Joint both under 65,Spouse of householder,Nonmover,3,Not in universe,0,2,52,94,- 50000.
199498,59,Private,24,2,Bachelors degree(BA AB BS),0,Married-civilian spouse present,White,Female,Not in universe,...,Joint one under 65 & one 65+,Spouse of householder,?,2,Not in universe,0,2,52,95,50000+.
199499,74,State government,44,42,7th and 8th grade,0,Widowed,White,Female,Not in universe,...,Single,Householder,Nonmover,5,Not in universe,0,2,52,94,- 50000.
199500,13,Not in universe,0,0,Children,0,Never married,White,Female,Not in universe,...,Nonfiler,Nonrelative of householder,Nonmover,0,Mother only present,0,0,0,94,- 50000.
199501,50,Federal government,29,2,Some college but no degree,0,Married-civilian spouse present,White,Male,Not in universe,...,Joint both under 65,Householder,?,4,Not in universe,2,2,48,95,- 50000.
199502,24,Private,33,29,11th grade,0,Never married,White,Female,Not in universe,...,Head of household,Householder,?,6,Not in universe,2,2,52,95,- 50000.
199503,43,Private,22,36,High school graduate,0,Married-civilian spouse present,White,Female,Not in universe,...,Joint both under 65,Spouse of householder,?,4,Not in universe,0,2,52,95,- 50000.
199504,33,Private,34,3,High school graduate,0,Married-civilian spouse present,White,Female,Not in universe,...,Joint both under 65,Spouse of householder,?,6,Not in universe,0,2,52,95,- 50000.
199505,14,Not in universe,0,0,Children,0,Never married,White,Female,Not in universe,...,Nonfiler,Child under 18 never married,Nonmover,0,Both parents present,0,0,0,94,- 50000.
199506,25,Self-employed-incorporated,33,16,Some college but no degree,0,Never married,Other,Female,Not in universe,...,Single,Child 18 or older,Nonmover,1,Not in universe,0,2,52,94,- 50000.
199507,62,Private,4,2,Some college but no degree,0,Married-spouse absent,White,Male,Not in universe,...,Single,Householder,?,6,Not in universe,2,1,52,95,50000+.
199508,47,Local government,43,12,Doctorate degree(PhD EdD),0,Married-civilian spouse present,White,Female,Not in universe,...,Joint both under 65,Spouse of householder,Nonmover,6,Not in universe,2,2,52,94,50000+.
199509,25,Private,33,41,Some college but no degree,0,Never married,Amer Indian Aleut or Eskimo,Male,Job leaver,...,Single,Householder,MSA to MSA,4,Not in universe,0,2,52,94,- 50000.
199510,47,Private,23,37,Some college but no degree,0,Married-civilian spouse present,White,Female,Not in universe,...,Joint both under 65,Spouse of householder,?,5,Not in universe,0,2,52,95,- 50000.
199511,71,Not in universe,0,0,High school graduate,0,Married-civilian spouse present,White,Female,Not in universe,...,Joint both 65+,Spouse of householder,?,0,Not in universe,0,2,0,95,- 50000.
199512,57,Private,9,37,9th grade,0,Divorced,White,Female,Not in universe,...,Single,Householder,?,4,Not in universe,0,2,52,95,- 50000.
199513,51,Private,33,19,10th grade,0,Widowed,White,Female,Not in universe,...,Single,Householder,NonMSA to nonMSA,6,Not in universe,0,2,52,94,- 50000.
199514,87,Not in universe,0,0,High school graduate,0,Widowed,White,Female,Not in universe,...,Single,Householder,?,0,Not in universe,0,2,0,95,- 50000.
199515,3,Not in universe,0,0,Children,0,Never married,Black,Male,Not in universe,...,Nonfiler,Nonrelative of householder,MSA to MSA,0,Mother only present,0,0,0,94,- 50000.
199516,39,Private,43,26,Bachelors degree(BA AB BS),0,Never married,Other,Male,Not in universe,...,Single,Householder,?,6,Not in universe,2,2,52,95,- 50000.
199517,87,Not in universe,0,0,7th and 8th grade,0,Married-civilian spouse present,White,Male,Not in universe,...,Joint both 65+,Householder,?,0,Not in universe,0,2,0,95,- 50000.
199518,65,Self-employed-incorporated,37,2,11th grade,0,Married-civilian spouse present,White,Male,Not in universe,...,Joint one under 65 & one 65+,Householder,Nonmover,1,Not in universe,0,2,52,94,- 50000.
199519,47,Not in universe,0,0,Some college but no degree,0,Married-civilian spouse present,White,Male,Not in universe,...,Joint both under 65,Householder,?,6,Not in universe,0,2,52,95,- 50000.
199520,16,Not in universe,0,0,10th grade,0,Never married,White,Female,Not in universe,...,Nonfiler,Child under 18 never married,?,0,Both parents present,0,2,0,95,- 50000.
199521,32,Private,42,30,High school graduate,0,Never married,Black,Female,Not in universe,...,Single,Householder,Nonmover,6,Not in universe,0,2,52,94,- 50000.

In [11]:
df.dtypes

AAGE          int64
ACLSWKR      object
ADTIND        int64
ADTOCC        int64
AHGA         object
AHRSPAY       int64
AHSCOL       object
AMARITL      object
AMJIND       object
AMJOCC       object
ARACE        object
AREORGN      object
ASEX         object
AUNMEM       object
AUNTYPE      object
AWKSTAT      object
CAPGAIN       int64
CAPLOSS       int64
DIVVAL        int64
FILESTAT     object
GRINREG      object
GRINST       object
HHDFMX       object
HHDREL       object
MARSUPWT    float64
MIGMTR1      object
MIGMTR3      object
MIGMTR4      object
MIGSAME      object
MIGSUN       object
NOEMP         int64
PARENT       object
PEFNTVTY     object
PEMNTVTY     object
PENATVTY     object
PRCITSHP     object
SEOTR         int64
VETQVA       object
VETYN         int64
WKSWORK       int64
YEAR          int64
INCOME       object
dtype: object

In [12]:
df_dummies=pd.get_dummies(df)
df_reduced=df[['AAGE','ADTIND','ADTOCC','AHRSPAY','CAPGAIN','CAPLOSS','DIVVAL','NOEMP','SEOTR','VETYN','WKSWORK', 'YEAR']]

In [14]:
df_reduced.head()

,AAGE,ADTIND,ADTOCC,AHRSPAY,CAPGAIN,CAPLOSS,DIVVAL,NOEMP,SEOTR,VETYN,WKSWORK,YEAR
0,58,4,34,0,0,0,0,1,0,2,52,94
1,18,0,0,0,0,0,0,0,0,2,0,95
2,9,0,0,0,0,0,0,0,0,0,0,94
3,10,0,0,0,0,0,0,0,0,0,0,94
4,48,40,10,1200,0,0,0,1,2,2,52,95

In [6]:
from sklearn.cluster import KMeans